<h1>Welcome!</h1>
<h2>What would you like to contribute with today?</h2>
<div class="container marketing">
  <div id="categories" class="row">
    <img src="/images/Bars.svg" id="bars">
  </div>
</div>
<script>
  $(document).ready(function() {
    $.getJSON('https://devmission-askdarcel-api.herokuapp.com/needs', function(data) {
      console.log(data);
      $('#bars').remove();
      for(let need of data.needs) {
      if(need.parent_id == null)
      {
      $('#categories').append(
        `
        <div class="row">
        <div class="col-lg-4"
        <div class="categories">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <p><a class="btn btn-secondary" href="/categories/${need.id}">${need.name} &raquo;</a></p>
        </div>
        </div>
        </div>
        `);
      }
      }
    });
  });
</script>
