<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel='stylesheet' href='/lib/bootstrap/css/bootstrap.css' />
<script src="/lib/jquery/jquery.js"></script>
</head>
<body>
  <h1><%= title %></title>
    JHLKJHLKJHLKJH
  <p> Welcome to <%= title %></p>
  <%- body %>
</body>
</html>
