<h1>Time</h1>
<ul id="resources" class="list-group">
  <img src="/images/Bars.svg" id="bars">
</ul>
<script>
  $(document).ready(function() {
    $.getJSON('https://devmission-askdarcel-api.herokuapp.com/resources?need_id=<%=params.id%>', function(data) {
      console.log(data);
      $('#bars').remove();
      for(let resource of data.resources) {
      $('#resources').append(`<li class="list-group-item"><a href="/resources/${resource.id}">${resource.name}</a></li>`);
      }
    });
  });
</script>
